@model AdvancedRepository.Models.ViewModels.CustomersModel

@{
    ViewData["Title"] = "Crud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h4>@Model.BtnHead</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form method="post">
            <div class="form-group" hidden>
                <input asp-for="Customers.Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Customers.Rating" class="control-label"></label>
                <input asp-for="Customers.Rating" class="form-control" />
                <span asp-validation-for="Customers.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.Street" class="control-label"></label>
                <input asp-for="Customers.Street" class="form-control" />
                <span asp-validation-for="Customers.Street" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <select name="Customers.CountryId" class="form-control">
                    @foreach (var item in Model.CountriesList)
                    {

                        if (item.CountryId == Model.Customers.CountryId)
                        {
                            <option selected style="color:red" name="Customers.CountryId" value="@item.CountryId">@item.CountyName</option>

                        }
                        else
                        {
                            <option name="Customers.CountryId" value="@item.CountryId">@item.CountyName</option>

                        }
                    }
                </select>
            </div>
            
            <div class="form-group">
                <label asp-for="Customers.CompanyName" class="control-label"></label>
                <input asp-for="Customers.CompanyName" class="form-control" />
                <span asp-validation-for="Customers.CompanyName" class="text-danger"></span>
            </div>
       
            <div class="form-group">
                <input type="submit" value="@Model.BtnVal" class="@Model.BtnClass" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-warning" asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
