@model AdvancedRepository.Models.ViewModels.FatDetailModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Fatura Bilgileri</h3>
<hr />

<label>Fatura No</label>
<input readonly type="text" asp-for="FatMaster.Id"  />

<label>Fatura Tarih</label>
<input readonly type="text" asp-for="FatMaster.Date"  />

<label>Müşteri Adı</label>
<input readonly type="text" asp-for="FatMaster.CustomerId"  />
<table>
    <thead>
        <tr>
            <td>Fatura No</td>
            <td>Ürün No</td>
            <td>Ürün Ad</td>
            <td>Miktar</td>
            <td>Birim Fiyat</td>
            <td>Tutar</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FatDetailList)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.ProductId</td>
            <td>@item.ProductName</td>
            <td>@item.Amount</td>
            <td>@item.UnitPrice</td>
            <td>@item.Total</td>
        </tr>
        }
    </tbody>
</table>
<form method="post">
    <label>Ürün</label>
    <select class="form-control" asp-for="FatDetail.ProductId">
        @foreach(var item in Model.ProductSelects)
        {
            <option value="@item.ProductId">@item.ProductName</option>
        }
    </select>
    <label>Miktar</label>
    <input class="form-control" type="text" asp-for="FatDetail.Amount" />
     <label>Birim Fiyat</label>
    <input class="form-control" type="text" asp-for="FatDetail.UPrice" />
    <input type="submit" value="Kaydet" class="btn btn-primary" />
</form>






